<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Server=.; Database=MTMS; User Id=MTMSUSER; password=MTMSpa55; TrustServerCertificate=True; encrypt=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="102401" executionTimeout="1200" />
    <sessionState timeout="3000"  />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="104857601" />
          </requestFiltering>
        </security>
    </system.webServer>

</configuration>
